@font-face {
        font-family: font-default;
        src: url(/font/default.ttf);
        
}
:root {
	background-color: #fff;
	color: #3e4042;
	font-family: 'font-default';
	
	}
body {
  background-color: #fff;
  color: #3e4042;
  font-family: Roboto, Arial, sans-serif;
  
  margin: 0px;
  padding: 0px;
}

        
}
@font-face {
        font-family: font-default;
        src: url(/font/default.ttf);
        
}
p {
	font-family: 'font-default';
	animation: fadeIn; 
    animation-duration: 2s;
	}
footer {
	background-color: #fff;
  padding-bottom: 18px;
  color: #3e4042;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
  text-align: center;
  font-family: 'font-default';
  animation: slideInUp; 
  animation-duration: 2s;
	
	}

img {
	margin: auto;
     display: block;
     text-align: center;
 	 justify-content: center;
  	align-items: center;
	}
.IMG_HOME {
	animation: fadeIn; 
    animation-duration: 3s;
    width: 200px;
     height: 280px;
     
    }
@font-face {
        font-family: hh1;
        src: url(/font/h1.ttf);
}
h1 {
	padding: 7px;
	font-size: 40px;
	text-align: center;
	font-family: 'hh1';
	
	}
h2 {
	padding: 4px;
	font-size: 25px;
	font-family: 'hh1';
	}
	

.container {
            max-width: 960px;
            margin: auto;
            padding: 15px;
        }
.container-padding-top {
            margin-top: 72px;
        }
.luxbar-brand {
            font-size: 1.6em;
        }
.ICON_MAIN {
	width: 58px;
     height: 60px;
     vertical-align: middle;
	animation: fadeIn; 
    animation-duration: 4s;
    
	}

.NAV {
	
	
	}
	