<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
	{{ partial "navbar.html" . }}

      {{ block "blog" . }}
 		{{ end }}

{{ partial "footer.html" }}
{{ partial "js.html" . }} 
</body>
</html>

