{{ define "blog" }}
<main>
        <div class="container">
    <article>
      <header>
        <h1>LiteG Article</h1>
      </header>
      {{ .Content }}
    </article>
    <ul>
      <!-- Ranges through content/posts/*.md -->
      {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}"> {{ .LinkTitle }} ~~ {{ .Date.Format "02-01-2006" }}</a>
        </li>
      {{ end }}
    </ul>
</div>
</main>
{{ end }}
