<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
	{{ partial "navbar.html" . }}

      {{ block "main" . }}
 		{{ end }}
{{ partial "js.html" . }} 
{{ partial "footer.html" }}
</body>
</html>

