<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{ partial "google/adsense.html" . }}
{{ partial "google/tagmanager_head.html" . }}
{{ partial "google/searchconsole.html" . }}
	

	
{{ partial "meta.html" . }}

{{/* Stylesheet */}}
	<link rel="stylesheet" type="text/css"
        href="{{ "css/animate.css" | relURL }}">        
	<link rel="stylesheet" type="text/css"
        href="{{ "css/bulma.css" | relURL }}">    
  <link rel="stylesheet" type="text/css"
        href="{{ "css/luxbar.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/main.css" | relURL }}">
	<link rel="stylesheet" type="text/css"
        href="{{ "css/maindesktop.css" | relURL }}">

  <link rel="shortcut icon" type="image/x-icon"
        href="{{ "favicon.ico" | relURL }}" />
        
	<title>{{ .Page.Title | default .Site.Title }}</title>
	