<div class="navbar luxbar NAV">
        <input type="checkbox" id="luxbar-checkbox" class="luxbar-checkbox">
        <div class="luxbar-menu luxbar-menu-light">
            <ul class="luxbar-navigation">
                <li class="luxbar-header">
                   <a class="luxbar-brand" href="/index.html"> <img class="ICON_MAIN" src="/img/icon.png" alt="Lg Icon"></a>
                    <label class="luxbar-hamburger luxbar-hamburger-doublespin" for="luxbar-checkbox"> <span></span> </label>
                </li>
                <li class="luxbar-item"><a href="/index.html">Home</a></li>
                <li class="luxbar-item"><a href="/blog">Blog</a></li>
            </ul>
        </div>
</div>

    