<!DOCTYPE html>
<html>
    <head>
    	
        {{ partial "head.html" . }}
        <title>Page Not Found</title>
    </head>
    <body>
    {{ partial "navbar.html" . }}
        <div class="container">
        
        
        <p><strong>Page not found !!!! :(</strong></p>
      </div>
      {{ partial "js.html" . }}
        {{ partial "footer.html" . }}
    </body>
</html>
