<!DOCTYPE html>
<html>
	<head>
    	<title>{{ .Page.Title | default .Site.Title }}</title>
        {{ partial "head.html" . }}
</head>
<style>
	
h2 {
	padding: 5px;
	font-size: 25px;
	text-align: center;
	font-family: 'hh1';
	padding-bottom: 23px;
	padding-top: 15px;
	}
.border2 {
  border-radius: 25px;
  border: 2px solid #7175FF;
  padding: 20px;
  width: 385px;
  height: 220px;
  vertical-align: middle;
  position: relative;
  border-bottom: 2px green solid;
  animation: rollIn; 
  animation-duration: 2s;
}
.botom {
border-radius: 25px;
  border: 2px solid #7175FF;
border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}
</style>
    <body>
    {{ partial "navbar.html" . }}
    <main>
        <div class="container">
        	<p>PixelG is an open source project focused on developing fast, efficient and comprehensive software for users.</p>
  		<img class="IMG_HOME" src="img/ss1.png">
         <h2>Get PixelG Software</h2>
         <div class="border2">
         	<p>We provide our software for free and you are free to distribute it</p>
         	<p>In order not to choose the wrong product, we recommend reading the documentation</p>
         	<buttom class="botom"><p>asw</p></buttom>
         	</div>
         	
        </div>
      </main>
      {{ partial "js.html" . }}
        {{ partial "footer.html" . }}
    </body>
</html>
